body {
  margin: 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #000000;
}

.rotulo {
  width: 100%;
  background: #33648A;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 0 1rem;
}

.fonte_h1{
  color:#FFFFFF;
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.usuarios {
  background-color: #B2AEAB; 
  border-radius: 0rem;       
  padding: 1rem;             
  margin-bottom: 3rem;      
  list-style: none;
  text-align: center;   
  display: flex;
  flex-direction: column;     
}

a{
  text-decoration: none;
  color:#0F172A;
  display: flex;
  align-items: center;
}

main p {
  margin-bottom: 3rem; 
  text-align: center; 
  font-size: 1rem;
  font-weight: 500;
}

.botao_menor{
  background-color: #54B7BE; 
  border-radius: 0rem;       
  padding: 1rem;     
  padding-left: 3rem;
  padding-right: 3rem;        
  margin-bottom: 3rem;  
  margin-top: 0rem;   
  list-style: none;
  text-align: center;  
  display: flex;
  flex-direction: column;
}

.img_usuario{
  width: 3rem;
  padding-top: 1rem;
}

.img_casa{
  width: 3rem;
  background-color: #54B7BE;
  padding: 0.5rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.img_flecha{
  width: 3rem;
  background-color: #54B7BE;
  padding: 0.5rem;
  position: fixed;
  top: 1rem;
  left: 6rem;
}

.horario{
  background-color: #54B7BE;
  font-size: 2rem;       
  padding: 1.0rem 1rem;  
  position: fixed;       
  top: 1rem;             
  right: 1rem;            
}

.linha{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coluna {
  display: flex;
  flex-direction: column;
}

.semana{
  margin-top: 2.5rem;
}

.dia{
  background-color: #B2AEAB;
  font-size: 5rem;       
  width: 8rem;            
  height: 8rem;           
  display: flex;          
  align-items: center;    
  justify-content: center;
  margin: 1.0rem;          
}

.texto{
  font-size: 1.5rem;
}

.categorias{
  background-color: #B2AEAB; 
  font-size: 1.75rem;
  width: 17rem;            
  height: 5rem;    
  display: flex;
  align-items: center;     
  justify-content: center; 
  margin-bottom: 2.5rem; 
}

.img_rotina{
  width: 3rem;
}

.img_medicamentos{
  width: 3rem;
}

.img_relatorios{
  width: 3rem;
}

.abas{
  margin-top: 5rem;
  background-color: #33648A;
  width: 100%;
  height: 3rem;
  color:#FFFFFF;
  position: fixed;
  font-size: 2rem;
  display: flex;          
  align-items: center;  
  justify-content: center;
}

.caixa1{
  margin-top: 10rem;
  display: flex;
  background-color: #B2AEAB;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;
  padding: 0.5rem;
}

.caixa2{
  margin-top: 2.5rem;
  display: flex;
  background-color: #B2AEAB;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;
  padding: 0.5rem;
}

.img_hoje{
  width: 12rem;
}

.img_semana{
  width: 12rem;
}

.img_meus_medicamentos{
  width: 12rem;
}

.img_cadastrar_novo{
  width: 12rem;
}

.img_frequencia{
  width: 11rem;
}

.img_ultimo_mes{
  width: 12rem;
}

.remedios_dia{
  margin-top: 5rem;
  width: 10rem;
  height: 6rem;
  display: flex;
  background-color: #B2AEAB;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;
  padding: 0.5rem;
  font-size: 2rem;
}

.horarios_dia{
  margin-top: 5rem;
  width: 4.5rem;
  height: 3rem;
  display: flex;
  background-color: #B2AEAB;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.tomou{
  background-color: #B0CC2E;
  width: 4.5rem;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.nao_tomou{
  background-color: #FB4740;
  width: 4.5rem;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.aguardando{
  background-color: #B2AEAB;
  width: 4.5rem;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;
  font-size: 1.5rem;
}

.img_capsula{
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
  margin-bottom: 50%;
}

.fundo_inicio{
  background-color: #33648A;
}

.titulo_inicio{
  font-size: 2rem;
  color:#FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 3rem;
}

.sub_inicio{
  font-size: 1.5rem;
  color:#FFFFFF;
  font-family: "Inter", sans-serif;
}

.margin_texto{
  margin-top: 7rem;
}

.texto_infos{
  font-size: 1.5rem;
  margin-top: 1rem;
}

.datas{
  background-color: #B2AEAB;
  margin-left: 0.5rem;
  padding: 0.75rem;
  margin-top: -3rem;
  margin-bottom: 2.5rem;
}

.foto{
  background-color: #B2AEAB;
  width: 16rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linha_foto{
  width: 100vw;
  height: 2px;
  background-color: #000000;
  top: 10rem;
  position: fixed;
}

.linha_foto2{
  width: 100vw;
  height: 2px;
  background-color: #000000;
  top: 36rem; 
  position: fixed;
}

.confirmar_foto{
  background-color: #B2AEAB;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-left: -14rem;
  top: 6.5rem;
  position: fixed;
}

.botao_foto{
  background-color: #B2AEAB;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 36.4rem;
}