/* Base geral */
body {
  margin: 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #000000;
}

/* Cabeçalho azul */
.rotulo {
  width: 100%;
  background: #33648A;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bloco principal de botões */
main {
  width: 100%;
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 0 1rem;
}

h1{
  color:#FFFFFF;
  font-size: xx-large;
  font-family: "Poppins", sans-serif;
}

.usuarios {
  background-color: #B2AEAB; 
  border-radius: 0rem;       
  padding: 1rem;             
  margin-bottom: 3rem;      
  list-style: none;
  text-align: center;   
  display: flex;
  flex-direction: column;     
}

a{
  text-decoration: none;
  color:#0F172A;
  display: flex;
  align-items: center;
}

main p {
  margin-bottom: 3rem; 
  text-align: center; 
  font-size: 1rem;
  font-weight: 500;
}

.botao_menor{
  background-color: #54B7BE; 
  border-radius: 0rem;       
  padding: 1rem;     
  padding-left: 3rem;
  padding-right: 3rem;        
  margin-bottom: 3rem;  
  margin-top: 0rem;   
  list-style: none;
  text-align: center;  
  display: flex;
  flex-direction: column;
}

.img_usuario{
  width: 3rem;
  padding-top: 1rem;
}

.img_casa{
  width: 3rem;
  background-color: #54B7BE;
  padding: 0.5rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.img_flecha{
  width: 3rem;
  background-color: #54B7BE;
  padding: 0.5rem;
  position: fixed;
  top: 1rem;
  left: 6rem;
}

.horario{
  background-color: #54B7BE;
  font-size: 2rem;       
  padding: 1.0rem 1rem;  
  position: fixed;       
  top: 1rem;             
  right: 1rem;            
}

.linha{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.coluna {
  display: flex;
  flex-direction: column;
}

.semana{
  margin-top: 2.5rem
}

.dia{
  background-color: #B2AEAB;
  font-size: 5rem;       
  width: 8rem;            
  height: 8rem;           
  display: flex;          
  align-items: center;    
  justify-content: center;
  margin: 1.0rem;          
}